In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_artists = pd.read_csv("data/Artists.csv", sep= ',')
df_artworks = pd.read_csv("data/Artworks.csv", sep= ',')

Exploritory analysis and cleaning on artwork dataframe

In [5]:
#checking columns that need a lot of cleaning
df_artworks[109:120]

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,OnView,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.)
109,"Woodland Crematorium, Woodland Cemetery, Stock...",Erik Gunnar Asplund,27,"(Swedish, 1885–1940)",(Swedish),(1885),(1940),(male),1937,Ink and graphite on drafting cloth,...,NaN,NaN,NaN,NaN,49.2,NaN,NaN,158.8,NaN,NaN
110,"Palais de la Découverte Project, Paris, France...","Paul Nelson, Oscar Nitzchke, Frantz Jourdain","8102, 4312, 6703","(American, 1895–1979) (American, born Germany....",(American) (American) (French),(1895) (1900) (1847),(1979) (1991) (1935),(male) (male) (male),1938,Ink and color pencil on paper mounted on board,...,NaN,NaN,1.3,NaN,37.5,NaN,NaN,95.3,NaN,NaN
111,"Palais de la Découverte Project, Paris, France...","Paul Nelson, Frantz Jourdain, Oscar Nitzchke","8102, 6703, 4312","(American, 1895–1979) (French, 1847–1935) (Ame...",(American) (French) (American),(1895) (1847) (1900),(1979) (1935) (1991),(male) (male) (male),1938,"Ink, graphite, and color pencil on paper, moun...",...,NaN,NaN,1.3,NaN,37.5,NaN,NaN,95.9,NaN,NaN
112,"Palais de la Découverte Project, Paris, France...","Paul Nelson, Frantz Jourdain, Oscar Nitzchke","8102, 6703, 4312","(American, 1895–1979) (French, 1847–1935) (Ame...",(American) (French) (American),(1895) (1847) (1900),(1979) (1935) (1991),(male) (male) (male),1938,"Ink, color ink, graphite, and color pencil on ...",...,NaN,NaN,1.3,NaN,71.1,NaN,NaN,71.1,NaN,NaN
113,"Palais de la Découverte Project, Paris, France...","Paul Nelson, Frantz Jourdain, Oscar Nitzchke","8102, 6703, 4312","(American, 1895–1979) (French, 1847–1935) (Ame...",(American) (French) (American),(1895) (1847) (1900),(1979) (1935) (1991),(male) (male) (male),1938,Ink and graphite on board mounted on board,...,NaN,NaN,NaN,NaN,71.0,NaN,NaN,127.6,NaN,NaN
114,"Gymnasium-Bridge, project, New York City, New ...",Steven Holl,2702,"(American, born 1947)",(American),(1947),(0),(male),1977,Graphite on paper,...,NaN,NaN,NaN,NaN,33.3,NaN,NaN,30.2,NaN,NaN
115,"Gymnasium-Bridge Project, New York, New York, ...",Steven Holl,2702,"(American, born 1947)",(American),(1947),(0),(male),1977,Ink and graphite on paper,...,NaN,NaN,NaN,NaN,34.3,NaN,NaN,55.9,NaN,NaN
116,Library and Office Building of Salman Schocken...,Erich Mendelsohn,8219,"(American, born Germany (now Poland). 1887–1953)",(American),(1887),(1953),(male),1935,Graphite and color pencil on tracing paper,...,NaN,NaN,NaN,NaN,35.6,NaN,NaN,29.2,NaN,NaN
117,"Gymnasium Bridge, project, New York City, New ...",Steven Holl,2702,"(American, born 1947)",(American),(1947),(0),(male),1977,Graphite on paper,...,NaN,NaN,NaN,NaN,55.9,NaN,NaN,75.6,NaN,NaN
118,Library and Office Building of Salman Schocken...,Erich Mendelsohn,8219,"(American, born Germany (now Poland). 1887–1953)",(American),(1887),(1953),(male),Unknown,Graphite and color pencil on tracing paper,...,NaN,NaN,NaN,NaN,21.6,NaN,NaN,35.9,NaN,NaN
119,Helium Bridge Project,Paolo Soleri,8101,"(American, born Italy. 1919–2013)",(American),(1919),(2013),(male),1958,Silkscreen,...,NaN,NaN,NaN,NaN,55.2,NaN,NaN,150.2,NaN,NaN

In [8]:
df_artworks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156634 entries, 0 to 156633
Data columns (total 30 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Title               156586 non-null  object
 1   Artist              155373 non-null  object
 2   ConstituentID       155373 non-null  object
 3   ArtistBio           150556 non-null  object
 4   Nationality         155373 non-null  object
 5   BeginDate           155373 non-null  object
 6   EndDate             155373 non-null  object
 7   Gender              155373 non-null  object
 8   Date                154618 non-null  object
 9   Medium              147380 non-null  object
 10  Dimensions          147990 non-null  object
 11  CreditLine          155111 non-null  object
 12  AccessionNumber     156634 non-null  object
 13  Classification      156634 non-null  object
 14  Department          156634 non-null  object
 15  DateAcquired        149848 non-null  object
 16  Cataloged           156634 non-null  object
 17  ObjectID            156634 non-null  int64
 18  URL                 100010 non-null  object
 19  ImageURL            90674 non-null   object
 20  OnView              1241 non-null    object
 21  Circumference (cm)  10 non-null      float64
 22  Depth (cm)          17815 non-null   float64
 23  Diameter (cm)       1469 non-null    float64
 24  Height (cm)         127886 non-null  float64
 25  Length (cm)         711 non-null     float64
 26  Weight (kg)         296 non-null     float64
 27  Width (cm)          126959 non-null  float64
 28  Seat Height (cm)    0 non-null       float64
 29  Duration (sec.)     1953 non-null    float64
dtypes: float64(9), int64(1), object(20)
memory usage: 35.9+ MB

In [10]:
df_artworks.value_counts

<bound method DataFrame.value_counts of                                                     Title  \
0       Ferdinandsbrücke Project, Vienna, Austria (Ele...
1       City of Music, National Superior Conservatory ...
2       Villa project, outside Vienna, Austria (Elevat...
3       The Manhattan Transcripts Project, New York, N...
4       Villa project, outside Vienna, Austria (Exteri...
...                                                   ...
156629           Musique Non Stop and Kraftwerk portraits
156630           Musique Non Stop and Kraftwerk portraits
156631           Musique Non Stop and Kraftwerk portraits
156632           Musique Non Stop and Kraftwerk portraits
156633           Musique Non Stop and Kraftwerk portraits

                          Artist ConstituentID  \
0                    Otto Wagner          6210
1       Christian de Portzamparc          7470
2                     Emil Hoppe          7605
3                Bernard Tschumi          7056
4                     Emil Hoppe          7605
...                          ...           ...
156629             Rebecca Allen         33372
156630             Rebecca Allen         33372
156631             Rebecca Allen         33372
156632             Rebecca Allen         33372
156633             Rebecca Allen         33372

                                        ArtistBio Nationality BeginDate  \
0                           (Austrian, 1841–1918)  (Austrian)    (1841)
1                             (French, born 1944)    (French)    (1944)
2                           (Austrian, 1876–1957)  (Austrian)    (1876)
3       (French and Swiss, born Switzerland 1944)          ()    (1944)
4                           (Austrian, 1876–1957)  (Austrian)    (1876)
...                                           ...         ...       ...
156629                      (American, born 1953)  (American)    (1953)
156630                      (American, born 1953)  (American)    (1953)
156631                      (American, born 1953)  (American)    (1953)
156632                      (American, born 1953)  (American)    (1953)
156633                      (American, born 1953)  (American)    (1953)

       EndDate    Gender  Date  \
0       (1918)    (male)  1896
1          (0)    (male)  1987
2       (1957)    (male)  1903
3          (0)    (male)  1980
4       (1957)    (male)  1903
...        ...       ...   ...
156629     (0)  (female)  1986
156630     (0)  (female)  1986
156631     (0)  (female)  1986
156632     (0)  (female)  1986
156633     (0)  (female)  1986

                                                   Medium  ... OnView  \
0           Ink and cut-and-pasted painted pages on paper  ...    NaN
1                       Paint and colored pencil on print  ...    NaN
2       Graphite, pen, color pencil, ink, and gouache ...  ...    NaN
3       Photographic reproduction with colored synthet...  ...    NaN
4       Graphite, color pencil, ink, and gouache on tr...  ...    NaN
...                                                   ...  ...    ...
156629  fourteen digital image files (scans of color s...  ...    NaN
156630  fourteen digital image files (scans of color s...  ...    NaN
156631  fourteen digital image files (scans of color s...  ...    NaN
156632  fourteen digital image files (scans of color s...  ...    NaN
156633  fourteen digital image files (scans of color s...  ...    NaN

       Circumference (cm) Depth (cm) Diameter (cm) Height (cm) Length (cm)  \
0                     NaN        NaN           NaN     48.6000         NaN
1                     NaN        NaN           NaN     40.6401         NaN
2                     NaN        NaN           NaN     34.3000         NaN
3                     NaN        NaN           NaN     50.8000         NaN
4                     NaN        NaN           NaN     38.4000         NaN
...                   ...        ...           ...         ...         ...
156629                NaN        NaN           NaN         NaN         NaN
156630                NaN        NaN           NaN         NaN         NaN
156631                NaN        NaN           NaN         NaN         NaN
156632                NaN        NaN           NaN         NaN         NaN
156633                NaN        NaN           NaN         NaN         NaN

       Weight (kg)  Width (cm) Seat Height (cm) Duration (sec.)
0              NaN    168.9000              NaN             NaN
1              NaN     29.8451              NaN             NaN
2              NaN     31.8000              NaN             NaN
3              NaN     50.8000              NaN             NaN
4              NaN     19.1000              NaN             NaN
...            ...         ...              ...             ...
156629         NaN         NaN              NaN             NaN
156630         NaN         NaN              NaN             NaN
156631         NaN         NaN              NaN             NaN
156632         NaN         NaN              NaN             NaN
156633         NaN         NaN              NaN             NaN

[156634 rows x 30 columns]>

In [12]:
df_artworks.shape

(156634, 30)

In [14]:
#percent of missing values from df_artworks by column
100 * df_artworks.isnull().sum(axis = 0)/ len(df_artworks)

Title                   0.030645
Artist                  0.805061
ConstituentID           0.805061
ArtistBio               3.880384
Nationality             0.805061
BeginDate               0.805061
EndDate                 0.805061
Gender                  0.805061
Date                    1.287077
Medium                  5.908040
Dimensions              5.518597
CreditLine              0.972330
AccessionNumber         0.000000
Classification          0.000000
Department              0.000000
DateAcquired            4.332393
Cataloged               0.000000
ObjectID                0.000000
URL                    36.150516
ImageURL               42.110908
OnView                 99.207707
Circumference (cm)     99.993616
Depth (cm)             88.626352
Diameter (cm)          99.062145
Height (cm)            18.353614
Length (cm)            99.546076
Weight (kg)            99.811024
Width (cm)             18.945440
Seat Height (cm)      100.000000
Duration (sec.)        98.753144
dtype: float64

In [ ]:
df_artworks[109:120]

In [ ]:
#


# columns_to_explode = ['ArtistBio', 'Nationality', 'BeginDate', 'EndDate', 'Gender']

# for column in columns_to_explode:
    # Remove parentheses and split by spaces between entries
   #  df_artworks[column] = df_artworks[column].str.replace(r'[\(\)]', '', regex=True).str.split(' ')

# Step 2: Explode the columns to separate rows
# for column in columns_to_explode:
#     df_artworks = df_artworks.explode(column)

In [ ]:
# columns_to_explode = ['Artist', 'ConstituentID']
# for column in columns_to_explode:
  #   df_artworks[column] = df_artworks[column].astype(str).str.split(',')
    
# more_exploding = ['ArtistBio', 'Nationality','BeginDate', 'EndDate', 'Gender']
# for column in more_exploding:
 #    df_artworks[column] = df_artworks[column].str.findall(r'\((.*?)\)')

In [ ]:
# Exploding each column
# df_artworks = df_artworks.explode('Artist')
# df_artworks = df_artworks.explode('ConstituentID')
# df_artworks = df_artworks.explode('ArtistBio')
# df_artworks = df_artworks.explode('Nationality')
# df_artworks = df_artworks.explode('BeginDate')
# df_artworks = df_artworks.explode('EndDate')
# df_artworks = df_artworks.explode('Gender')

In [ ]:
#checking the same range as above 
df_artworks[109:130]

In [16]:
#removing () in strings to avoid errors 

grammar = ['ArtistBio', 'Nationality', 'BeginDate', 'EndDate', 'Gender']

pattern = r'\(|\)'

df_artworks[grammar] = df_artworks[grammar].replace(pattern, '', regex=True)

In [ ]:
df_artworks.dtypes

During cleaning I decided to uniform the date values by changing any with multiple years, ie "1997-78", to the first date presented. This will help clean the column for easier analyzes later. While doing so I noticed that some rows had multiple observations saved to it. I proceed to explode this date into their own rows and delete ConstiuteID duplicates, this will help with dataset merging later. 

Based on the low percentage of NA values, I have decided to keep NA values and focus on cleaning the data set for datatypes

I have decided to change date forms with multiple dates in the (i.e. 1976-77) to present the number that comes first in the range to avoid too many NaT outputs. If I didn't do this the NaT outputs for date range exceeded 30%. I will also be keeping the 0s in the end date column to represent that the artist is still alive by replacing it will placeholder '9999-12-31'.

My last step is to remove all syntax errors and double check datatypes and null percentage.

In [19]:
df_artworks['EndDate'] = df_artworks['EndDate'].replace('0', '9999-12-31')

In [21]:
import re
import pandas as pd

def extract_first_year(date_string):
    if isinstance(date_string, str):
        # Check for date range like '1976-77'
        range_match = re.match(r'(\d{4})-\d{2}', date_string)
        if range_match:
            return range_match.group(1)  # Return the first year as string
        
     
        year_match = re.match(r'(\d{4})', date_string)
        if year_match:
            return year_match.group(1)  # Return the year if it's a normal year format
    return date_string  

df_artworks['Date'] = df_artworks['Date'].apply(extract_first_year)

In [23]:
100 * df_artworks.isnull().sum(axis = 0)/ len(df_artworks)

Title                   0.030645
Artist                  0.805061
ConstituentID           0.805061
ArtistBio               3.880384
Nationality             0.805061
BeginDate               0.805061
EndDate                 0.805061
Gender                  0.805061
Date                    1.287077
Medium                  5.908040
Dimensions              5.518597
CreditLine              0.972330
AccessionNumber         0.000000
Classification          0.000000
Department              0.000000
DateAcquired            4.332393
Cataloged               0.000000
ObjectID                0.000000
URL                    36.150516
ImageURL               42.110908
OnView                 99.207707
Circumference (cm)     99.993616
Depth (cm)             88.626352
Diameter (cm)          99.062145
Height (cm)            18.353614
Length (cm)            99.546076
Weight (kg)            99.811024
Width (cm)             18.945440
Seat Height (cm)      100.000000
Duration (sec.)        98.753144
dtype: float64

In [ ]:
datefixer = ['Date', 'DateAcquired', 'BeginDate', 'EndDate']

df_artworks[datefixer] = df_artworks[datefixer].apply(pd.to_datetime,
                                              format='%Y',
                                              errors='coerce')

In [ ]:
#rechecking datatype
df_artworks.dtypes

In [ ]:
df_artworks.head(10)

In [ ]:
nat_end_dates = df_artworks[df_artworks['EndDate'].isna()]

In [ ]:
nat_end_dates

In [ ]:
df_artists.info()

In [ ]:
#sum of missing info from Moma artworks dataset by column
Missing= (Moma_artists.isnull().sum()) + Moma_artists.isin(['', 'unknown', 'NaN', 'N/A', 'Not available', '()']).sum()

In [ ]:
Missingartworks

In [ ]:
Missingartists

In [ ]:
Moma_artworks.dtypes

In [ ]:
Moma_artists.dtypes

In [ ]:
numeric_artists = ['BeginDate', 'EndDate']
numeric_artworks = ['DateAcquired','Date', 'Circumference (cm)']

In [ ]:
categorical_artists = ['Nationality', 'Gender']
categorical_artworks = ['Artist', 'Nationality', 'Gender', 'Medium', 'Department']

In [ ]:
#Numeric artist
Moma_artists[numeric_artists].hist(bins=20, figsize=(10, 5))

In [ ]:
#Numeric artworks
Moma_artworks[numeric_artworks].hist(bins=20, figsize=(12, 8))

In [ ]:
sns.countplot(y="Gender", data=Moma_artworks)

In [ ]:
Moma_artworks["Gender"].value_counts()

In [ ]:
for col in categorical_artworks:
    plt.figure(figsize=(8, 4))
    sns.countplot(y=col, data=Moma_artworks)
    plt.show()

In [ ]:
Moma_artworks.head()